* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    --primary-color:#FFB900;
    --secondary-color:#171100;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* =====Common===== */
.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100%-50px);
}
.btn {
    min-width: 118px;
    border-radius: 24.5px;
    background-color: #171100;
    text-align: center;
    padding: 0px 16px;
    font-family: Poppins;
    display: flex;
justify-content: center;
align-items: center;

}
a {
    text-decoration: none;
    color: black;
}

/* ====Header==== */

.header {
    padding: 36px 0px 8px 0;
    background-color: #fffcf4;
}
.header-body {
    display: flex;
    align-items: center;
}
.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .nav {
    display: flex;
    margin-left: 512px;

    font-weight: 400;
    font-size: 1.6rem;
}
.header .nav-items {
    padding: 8px 21px;
}
.header .nav-items:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
.header .btn {
    min-width: 144px;
    height: 50px;
    line-height: 50px;
    border-radius: 24.5px;
    background-color: #171100;
    margin-left: 49px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    padding: 0px 16px;
    display: inline-block;
}

/* ====hero=== */
.hero {
    padding-top: 56px;
    background-color: #FFFCF4;
    padding-bottom: 65px;
}
.hero .img {
    width: 470px;
    position: relative;
}
.img img {
    display: block;
}

.hero .body {
    display: flex;
}
.more {
    background-color: white;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    padding-top: 24px;
    position: absolute;
    bottom: 48px;
    left: 300px;
    box-shadow: 0px 16px 32px 0px #0000000D;

}
.more-item {
    display: flex;
    height: 56px;
    margin-left: 24px;
    align-items: center;
    margin-bottom: 14px;
}

.more-icon {
    width: 48px;
    height: 48px;
}
.more .desc {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.more .desc-1 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0%;
}
.more .desc-2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}
.hero .info {
    margin-left: 230px;
    margin-top: 64px;
}
.info h1 {
    font-family: Sen;
    color: #171100;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 22px;
}
.hero .info .desc {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 38px;
}
.hero .info .row-1 {
    display: flex;
    align-items: center;
    
}
.hero .info .btn {
    background-color: #ffb900;
    width: 180px;
    height: 64px;
    color: white;

    border-radius: 32px;

    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
.info .watch {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    
}
.info .play {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    box-shadow: 0px 8px 16px 0px #00000012;
}
.info .watch {
    margin-left: 14px;
}
.info .stat{
    margin-top: 48px;

}
.stat h2{
    font-family: Poppins;
font-weight: 400;
font-size: 1.8rem;
color: #5F5B53

}
.info .num{
    font-family: Sen;
font-weight: 700;
font-size: 4.4rem;
}
.stat-body{
    display: flex;
    margin-top: 8px;
    height: 54px;
}
.stat-item{
    display: flex;
    align-items:last baseline;
    margin-right: 28px;
}
.hero .info .label{
    font-family: Poppins;
font-weight: 400;
font-size: 1.8rem;
margin-left: 14px;

}

/* ===popular=== */
.popular{
    margin-top: 200px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .label{

}
.popular h1{
    font-family: Sen;
font-weight: 700;
font-size: 3.8rem;
line-height: 48px;
letter-spacing: -2%;
margin-bottom: 16px;
}
.popular .label .desc{
    font-family: Poppins;
font-weight: 400;
font-size: 1.8rem;
line-height: 30px;
letter-spacing: 0%;
width: 458px;
color: #5F5B53;
}
.popular .icon{
    display: flex;
}
.popular .arrow-1{
width: 40px;height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
border: 1px solid #FFB900;
}
.popular .arrow-2{
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
background-color:#FFB900;
border-radius: 50%;
margin-left: 18px;
}
.popular .list{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}
.popular .item{
    width: 370px;
    height: 466px;
    box-shadow: 0px 18px 36px 0px #0000000D;
    border-radius: 12px;
}
.item .img-product{
    height: 278px;
}
.popular .info{
    margin: 16px 22px 22px 22px;
}
.popular .row-3{
    display: flex;
    align-items: center;
}
.popular .star{
    margin-left: auto;
    margin-right: 6px;
}
.popular h2{
    font-family: Poppins;
font-weight: 600;
font-size: 1.8rem;
line-height: 30px;
letter-spacing: 0%;
}
.popular .num{
    font-family: Poppins;
font-weight: 400;
font-size: 1.6rem;
line-height: 28px;
letter-spacing: 0%;
color:var(--primary-color) ;

}
.popular .info .desc{
    font-family: Poppins;
font-weight: 400;
font-size: 1.4rem;
line-height: 26px;
letter-spacing: 0%;
color: #5F5B53;
margin-top: 6px;
margin-bottom: 12px;
}
.popular .price{
    font-family: Poppins;
font-weight: 600;
font-size: 1.8rem;
line-height: 30px;
letter-spacing: 0%;

}
.popular .info .btn, .btn-1{
    width: 118px;height: 50px;
    background-color: var(--secondary-color);
    font-family: Poppins;
font-weight: 600;
font-size: 1.4rem;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
color: white;


}
.popular .info .btn:hover,.btn-1:hover{
    background-color: var(--primary-color);
}

/* === user=== */
.user{
    margin-top: 200px;
    background-color: #2E2100;
}
.profile{
    padding-top: 96px;
    padding-bottom: 96px;
    min-width: 159px;
    
}
.user .body{
    display: flex;
    align-items: center;
}
.profile img{
    width: 150px;
    position: absolute;
    left: -45px;
    top: -25px;
}
.ava{
    border-radius: 50%;
    width: 72px;
    height: 72px;
    overflow: hidden;
    position: relative;
    
}
.profile .name{
    font-family: Sen;
font-weight: 700;
font-size: 24px;
line-height: 34px;
letter-spacing: 0%;
color:#F7F7F7;
margin-top: 18px;
}
.profile .job{
    font-family: Poppins;
font-weight: 400;
font-size: 14px;
line-height: 26px;
letter-spacing: 0%;
color: #BFBCB2;
margin-top: 4px;
}
.next{
    display: flex;
    gap: 6px;
    margin-top: 28px;
}
.dot-1{
    width: 6px;height: 6px;
    border-radius: 50%;
    background-color: #634700;
}.dot-2{
    width: 6px;height: 6px;
    border-radius: 50%;
    background-color:var(--primary-color);
}
.qoutes .comma{
    width: 30px;
    position: absolute;
    left:-30px;
    top:-28px;
}
.qoutes{
    margin-left: 241px;
    position: relative;
}
.qoutes-content{
    font-family: Poppins;
font-weight: 300;
font-style: italic;
font-size: 26px;
line-height: 40px;
letter-spacing: 0%;
color: #FFFFFF;

}


/* ====cta==== */
.cta{
    margin-top: 200px;
}
.cta img{
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.cta h2{
    font-family: Sen;
font-weight: 700;
font-size: 3.8rem;
line-height: 48px;
letter-spacing: -2%;
width: 490px;

}
.cta .desc,.cta .label{
    font-family: Poppins;
font-weight: 400;
font-size: 1.6rem;
line-height: 28px;
letter-spacing: 0%;
color: #5F5B53;
}
.cta .btn{
    width: 137px;
}
.cta .body{
    display: flex;
    position: relative;
    width: 1170px;height: 438px;
}
.cta .img-2{
    
    position: absolute;
    left: 300px;
    top:0px;
}
.cta .img-1{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.cta .info{
    margin-top: 58px;
    margin-left: 700px;
}
.cta .info .desc{
    margin-top: 16px;
}
.cta .info .label{
    margin-top: 16px;
}
.cta .info .btn,
.cta-2 .info .btn{
    margin-top: 32px;
    background-color: var(--primary-color);
    height: 50px;
    width: 137px;
    font-family: Poppins;
font-weight: 600;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
color:white;
}

/* =====cta-2==== */
.cta-2{
    margin-top: 200px;

}

.cta-2 .body{
    display: flex;
}
.cta-2 .info{
    margin-top: 71px;
}
.cta-2 h2{
    font-family: Sen;
font-weight: 700;
font-size: 3.8rem;
line-height: 48px;
letter-spacing: -2%;
width: 590px;
}
.cta-2 .desc{
    font-family: Poppins;
font-weight: 400;
font-size: 1.6rem;
line-height: 28px;
letter-spacing: 0%;
color: #5F5B53;
margin-top: 16px;
}
.cta-2 img{
    width: 470px;height: 440px;
    object-fit:cover;
    border-radius: 20px;
    margin-left: 130px;
}

/* =====blog====== */
.blog{
    margin-top: 200px;
    width: 100vw;
    background-color: #FFFCF4;
    height: 878px;
}

.blog .body{
    padding-top: 96px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
     */
}
.blog .title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog h2{
    font-family: Sen;
font-weight: 700;
font-size: 3.8rem;
line-height: 48px;
letter-spacing: -2%;
text-align: center;

}
.blog .desc{
    font-family: Poppins;
font-weight: 400;
font-size: 1.6rem;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
margin-top: 16px;
color: #696262;
max-width: 448px;


}
.blog .list{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}
.blog .item{
    width: 370px;
height: 467px;
box-shadow: 0px 16px 32px 0px #0000000D;
background-color: #fff;
border-radius: 16px;

}
.blog .item img{
    width: 370px;
    border-radius: 16px 16px 0px 0px ;
}
.blog .item .text{
    margin-top: 20px;
    margin-left: 20px;
}
.blog .label{
    display: flex;
    align-items: center;
}
.blog .item .dot{
    width: 6px;height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.blog .item .date{
    font-family: Poppins;
font-weight: 400;
font-size: 1.4rem;
line-height: 26px;
letter-spacing: 0%;
margin-left: 4px;
color: #5F5B53;

}
.blog .line{
    width: 160px;height: 1px;
    background-color: #E2DFDA;
    margin-top: 12px;
}
.blog .sub-title{
    font-family: Poppins;
font-weight: 600;
font-size: 1.6rem;
line-height: 28px;
letter-spacing: 0%;
width: 330px;
margin-top: 20px;
}
.blog .btn{
    margin-top: 12px;
}
.blog .next{
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
}

/* ====footer==== */
.footer{
    background-color: #2E2100;
    width: 100vw;
    min-height: 428px;
}
.footer .body{
    padding-top: 96px;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.footer-main{
    display: flex;
    
}
.footer .desc{
    font-family: Poppins;
font-weight: 400;
font-size: 1.4rem;
line-height: 26px;
letter-spacing: 0%;
margin-top: 18px;
color:#BFBCB2;
max-width: 267px;
}
.footer .favicon{
    margin-top: 18px;
    display: flex;
    gap: 18px;
}
.footer .info{
    width: 287px;
}
.footer .title{
    font-family: Poppins;
font-weight: 600;
font-size: 1.6rem;
line-height: 28px;
letter-spacing: 0%;
color:#FFFFFF;
}
.footer .list{
    display: flex;
    margin-left: 125px;
    gap: 130px;
}
.footer .line{
    width: 130px;height: 1px;
    background-color: #59554B;
    margin-top: 14px;
}
.footer .list-item{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap:12px;
}
.footer .item{
    font-family: Poppins;
font-weight: 400;
font-size: 1.4rem;
line-height: 26px;
letter-spacing: 0%;
color: #BFBCB2;
max-width: 231px;
}
.footer .sub-title{
    font-family: Poppins;
font-weight: 600;
font-size: 1.4rem;
line-height: 26px;
letter-spacing: 0%;
color: white;

}
.long-line{
    height: 1px;
    width: 100%;
    background-color: #59554B;
    margin-top: 38px;
}
.copyright{
    margin-top: 28px;
    font-family: Poppins;
font-weight: 400;
font-size: 1.4rem;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
color:#807D74;

}